
<table *ngIf="employee">
    <thead>
        <tr>
            <!--example of attribute binding in Angular -->
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee Code</td>
            <td>{{employee.code}}</td>
        </tr>

        <tr>
            <td>Name</td>
            <td>{{employee.name}}</td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>{{employee.gender}}</td>
        </tr>

        <tr>
            <td>Annual Salary</td>
            <td>{{employee.annualSalary}}</td>
        </tr>

        <tr>
            <td>Date of Birth</td>
            <td>{{employee.dateOfBirth}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!employee">
    {{statusMessage}}
</div>
<div style="margin-top: 5px">
    <input type="text" class="btn btn-primary" (click)="onBackButtonClick()" value="Back to Employees List"/> 
</div>





<!--what is attribute Binding
  1.Interpolation and property binding deal with binding Component class properties to HTML
    element properties and Not attributes
  2. But not all HTML element attributes have corresponding properties. e.g. colSpan attribute
    does not have a corresponding property
  3. In situation like this we want to be able to bind to HTML element attributes
  4. Hence, Angular provided Attribute Binding
    syntex:
    <th [attr.colspan]='columnSpan'>
             or
    <th attr.colspan='{{columnSpan}}'>
    -->
