/Angular2Demo/Angular2Demo/obj/Debug
/Angular2Demo/Angular2Demo/node_modules
/Angular2Demo/Angular2Demo/bin
/Angular2Demo/packages/Microsoft.Net.Compilers.2.6.1/tools
/Angular2Demo/.vs
/Angular2Demo/packages
